@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;400&family=Merienda:wght@700&display=swap');

body{
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #1e90ff, #fa89ec, #ffdb58);
    background-size: 400% 300%;
    position: relative;
    animation: change 5s ease-in-out infinite;
}
@keyframes change {
    0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }   
}
.hide{
    display: none !important;
}
.icones{
    margin-top: 5%;
    margin-bottom: 8%;
}
.text-center1{
    font-size: 30px;
    margin-top: 20px;
    margin: 15px;
    font-weight: bolder;
    border: solid 2px black;
    border-radius: 3%;
}
.efeito-botao-botao {
    border: none;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    border: none !important;
    background: none !important;
}
.efeito-botao-botao:hover{
animation: bounce 1s linear;
}
@keyframes bounce {
    20%, 50%, 80%, to{
        transform: translateY(0);
    } 
    40%{
        transform: translateY(-20px)
    }
    70%{
    transform: translateY(-15px);
    } 
    90%{
        transform: translateY(-4px);
    }
}
.bem{
    font-weight: bolder;
    font-family: 'Merienda', cursive;
}
.bemm{
    font-family: 'Encode Sans SC', sans-serif;
}
.pe{
    font-weight: bolder;
}
button{
    cursor:auto !important;
}
button:focus {
    outline: none !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}
.area{
    margin-bottom: 100px;
}
.modal-title{
    font-size: 30px;
    font-weight: bolder;
}
.modal-body{
    font-size: 20px;
    padding: 5px 20px !important ;
}
.modal-footer{
    padding: 0px 20px !important ;
    margin-bottom: 10px !important;
}
.card-img-top{
    border-radius: 6% 6% 0px 0px;
}
.card-title{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 13px;
    font-family: 'Merienda', cursive;
}
.fotos{
    border: solid 3px black;
    border-radius: 5% ;
}
.unico{
    border: none !important;
}
.fora{
    border: solid 2px black;
}
.nav-link{
    cursor: pointer;
    margin-left: 7px;
    font-family: 'Merienda', cursive;
}
.nav-link.active{
    font-weight: bolder;
    font-size: 20px;
}
.cocc{
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: lighter;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.eqp{
    width: 97%;
    margin-top: 20px;
    border: solid 4px black;
    border-radius: 5%;
}
.card-text{
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 600;
    font-size: 12pt;
}
/* Botões Saiba Mais*/
.maistexto{
    display: none;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    letter-spacing: 1px;
}
/*ativação dos botões js*/
#saibamais1:active{
    position:relative;
    box-shadow: none;
    border: none;
    margin-top: 5px;
}
/* FIM Botões Saiba Mais*/
@media (max-width: 425px) {
    .bemm{
        font-size: 20px;
    }
    .nav-link{
        font-size: 10pt !important;
        margin: 2px !important;
        padding: 0px !important;
    }
    .cocc{
        font-size: 15pt !important;
    }
    .maistexto{
        font-size: 10pt !important; 
    }
}
@media (max-width: 320px) {
    .bemm{
        font-size: 15px;
    }
    .bem{
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    .hide{
        display: block !important;
        margin: auto;
        margin-bottom: 10px !important;
    }
    .aparecer{
        display: none !important;
    }
}
@media (max-width: 1024px) {
    .card-title{
        font-size: 23px;
    }
}